:root {
  --text-color: white;
  --background-color: black;
  --heading-color: turquoise;
  font-size: calc(0.7em + 1vw);
  background-color: var(--background-color);
}
@media (min-width: 1200px) {
  :root {
    font-size: 1.2em;
  }
}

body {
  padding: 1em 1em;
  margin: 0 auto;
  max-width: 960px;
  color: var(--text-color);
  font-family: serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0.3em auto 0;
}

h2,
h3,
h4 {
  margin: 1.2em 0em;
  color: var(--heading-color);
  a {
    color: var(--heading-color);
    text-decoration: none;
  }
  a:hover {
    color: var(--heading-color);
    background-color: var(--background-color);
    text-decoration: underline;
  }
}

/* article nav aka TOC */
nav#table-of-contents {
  border-bottom: 1px solid grey;
  padding-bottom: 0.5em;
  margin-bottom: 1.2em;
  a {
    text-decoration: none;
  }
}

/* profile nav */
nav p {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 0;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: 0.7em;
    font-style: italic;
  }
}

.portrait img {
  margin: 0 auto;
  display: block;
}

@media (min-width: 600px) {
  .portrait {
    float: right;
    width: 40%;
  }
}

.outline-text-2:after {
  clear: both;
  content: "";
  display: block;
}

pre.src,
pre.example {
  max-width: fit-content;
  padding: 0.5em;
  font-size: 1.1em;
  background: #111;
  background: radial-gradient(circle, #000 0%, #111 100%);
  border-radius: 10px;
  overflow: auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  tbody:nth-last-child(n + 2) {
    border-bottom: 4px double #222;
  }
  th {
    text-transform: uppercase;
  }
  td {
    border: 1px solid #222;
    padding: 0.3em 0.5em;
  }
  td.org-left {
    text-align: left;
  }
  td.org-right {
    text-align: right;
  }
  td.org-center {
    text-align: center;
  }
}

@media (max-width: 600px) {
  ol.org-ol {
    padding-left: 1em;
  }
  ul.org-ul {
    padding-left: 1em;
  }
}

/* for items that have a code block */
li p {
  margin: 0;
}

/* org's =text= */
code {
  color: orange;
}

a {
  color: var(--text-color);
}

a:hover {
  background: var(--text-color);
  color: var(--background-color);
  text-decoration: none;
}

a[href^="http"] {
  text-decoration-style: dotted;
}

#postamble p {
  margin: 0;
  font-size: 0.9em;
}
