@media (min-width: 1200px) {
  body {
    --nav-width: 400px;
    h1 {
      margin-left: var(--nav-width);
    }
    max-width: 100%;
    div#content {
      display: grid;
      grid-template-columns: var(--nav-width) 1fr;
      grid-template-rows: auto 1fr;
      align-items: start;
      > ul,
      > table {
        margin: 1em auto;
      }
      nav {
        font-size: 0.9em;
        position: sticky;
        margin: 0 auto;
        margin-top: -100px;
        transform: translate(0, -50%);
        top: 50vh;
        padding: 0 1em;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 100;
        h2 {
          text-align: center;
        }
        ul {
          li {
            margin: 0 auto;
          }
        }
        border: 1px solid gray;
        border-radius: 8px;
      }
    }
  }
}
