div#content {
  align-items: center;
}

@media (min-width: 1200px) {
  body div#content {
    display: flex;
    header {
      margin: 0 auto;
      h1 {
        margin: 1em auto;
        text-align: left;
      }
    }
  }
}

ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    b {
      color: #555;
      font-size: 0.8em;
      display: inline;
      margin: 0 1em 0 0;
    }
  }
}
